.logo-wrapper {
  background: white;
  position: relative;
  width: 230px;
  z-index: 5;
  height: 200px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 160px;
  height: 160px;
  position: relative;
  z-index: 2;
  top: -15px;
}
.logo-flag {
  width: auto;
  z-index: 3;
  position: absolute;
  top: 150px;
}
.brdr {
  border-right: 2px solid #BE0000;
  height: 20px;
  position: relative;
  top: 5px;
}
.nav-link-item {
  color: #0C3C60;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
}
.nav-link-item:hover {
  text-decoration: none;
}
.title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 3.7rem;
    max-width: 680px;
}
#myVideo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .list {
    list-style-image: url('https://captiva-test.plotkinruslan.com/assets/imgs/icon-v.svg');
    margin-top: 10px;
  }
  .list > li {
    color: white;
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
  }
  .list > li > span{
    display:inline-block;
    vertical-align:top;
    margin-top:-10px;
  }

  button {
    width: 199px;
    height: 55px;
    border: none;
    border-radius: 50px;
    outline: none;
    color: #C90000;
    line-height: 90%;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 20px;
  }
  .form-wrapper {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
  }
  .submit {
      width: 150px;
      height: 60px;
      background: #2E8DFB;
      color: white;
      text-transform: uppercase;
      font-family: 'Catamaran', sans-serif;
      font-weight: 400;
      font-size: 24px;
  }

  input[type="text"], input[type="email"] {
      height: 60px;
      width: 100%;
      border: none;
      border-radius: 40px;
      text-indent: 15px;
      color: black;
  }
  ::placeholder {
    color: black;
    font-weight: 400;
  }
.control {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
}
  #navbarNavAlt {
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }

