.container-bg {
    position: relative;
    height: 500px;
    background: url('https://captiva-test.plotkinruslan.com/assets/imgs/buildings.png'), no-repeat;
    background-size: contain;
    background-position: top;
}
.content {
    height: auto;
    background: #EFF8FF;
    margin-top: -20px;
    padding: 50px 0;
}
.wrapper {
    display: flex;
    flex-direction: row;
}

.drdr {
    border-right: 2px solid #BE0000;
    height: 20px;
    position: relative;
    top: 5px;
  }
  .address {
    display: inline-block;
    vertical-align: top;
    margin-top: -15px;
  }

.address {
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
    list-style-image: url('https://captiva-test.plotkinruslan.com/assets/imgs/icom-map.png');
}
.mail {
    font-family: 'Catamaran', sans-serif;
    list-style-image: url('https://captiva-test.plotkinruslan.com/assets/imgs/icon-mail.png');
}

::placeholder {
  color: black;
  font-weight: 400;
}
.form-control {
  text-indent: 15px;
}

.title {
    color: #C90000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
}
.form-control {
    width: 320px;
    height: 60px;
    border: none;
}

textarea {
    width: 100%;
    border: none;
    resize: none;
    padding: 10px;
}
.submit {
    background: #0C3C60;
    color: white;
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
}

.button-wrapper {
    height: 100%;
    min-height: 105px;
    display: flex;
    align-items: center;
}

.chat {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: url('https://captiva-test.plotkinruslan.com/assets/imgs/chat.png');
    background-size: contain;
}



.btn-btn {
    width: 220px;
    height: 70px;
    border-radius: 25px;
    background: #0C3C60;
    border: none;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
  }
  .button-jittery button {
    animation: jittery 4s infinite;
  }
  .button-jittery button:hover {
    animation: heartbeat 0.2s infinite;
  }
  
  @keyframes jittery {
    5%,
      50% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    15% {
      transform: scale(1.15);
    }
    20% {
      transform: scale(1.15) rotate(-5deg);
    }
    25% {
      transform: scale(1.15) rotate(5deg);
    }
    30% {
      transform: scale(1.15) rotate(-3deg);
    }
    35% {
      transform: scale(1.15) rotate(2deg);
    }
    40% {
      transform: scale(1.15) rotate(0);
    }
  }