<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper mt-5 d-flex flex-row justify-content-between">

                <div *ngFor="let itm of count; let i = index; let last = last" id="counter" class="d-flex flex-row">

                    <div class="d-flex flex-column justify-content-between align-items-center w-100">
                        <div class="d-flex flex-row align-items-center justify-content-around w-100">
                            <h1 class="counter text-center w-100">{{itm.countTo}}</h1>
                            <span class="symbol">{{itm.symbol}}</span> 
                        </div>
                        <p>{{itm.name}}</p>
                    </div>
                    
                    <span class="bordered" *ngIf="!last"></span>

                </div>

            </div>
        </div>
    </div>
</div>