<div>
    <div class="bg-view"></div>
    <div class="rectangle d-flex flex-row align-items-center">
        <div class="w-25 text-right title">
            <h1> About <br> the <br> Company </h1>
        </div>
        <div class="w-75 d-flex flex-column align-items-start justify-content-around main-text">
            <p class="text">Flamingo Gardens Capital was founded due to increased demand for real estate investments in Israel. The company offers investment options and possibilities for those who wish to diversify their real estate investment portfolio.</p>
            <p class="text">Flamingo Gardens Capital provides a full package of services – from early stages of the purchase till after the Purchase.</p>
            <p class="text">We specialize in different kinds of yielding properties, including commercial assets, all across Israel.</p>
                <p class="bold-text">Contact us today for more details with one <br> of our professional representatives. </p>
        </div>
    </div>
</div>


